{% extends "layouts/main.html" %}

{% set pageName = "Check your answers before sending" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    <h1 class="govuk-heading-xl">Check your answers before sending</h1>

    {{ govukSummaryList({
      rows: [
      {
        key: { text: "What type of contact did you have?" },
        value: { text: data["contact-type"] if data["contact-type"] else "Not answered" },
        actions: {
          items: [{
            href: "/contact-type",
            text: "Change",
            visuallyHiddenText: "what type of contact did you have?"
          }]
        }
      },
      {
        key: { text: "Was anyone else present during the contact?" },
        value: { text: data["witness-present"] if data["witness-present"] else "Not answered" },
        actions: {
          items: [{
            href: "/witness-present",
            text: "Change",
            visuallyHiddenText: "was anyone else present during the contact?"
          }]
        }
      },
      {
        key: { text: "Where did the contact happen?" },
        value: { text: data["contact-location"] if data["contact-location"] else "Not answered" },
        actions: {
          items: [{
            href: "/contact-location",
            text: "Change",
            visuallyHiddenText: "where did the contact happen?"
          }]
        }
      },
      {
        key: { text: "Describe what the alien looked like" },
        value: { text: data["alien-description"] if data["alien-description"] else "Not answered" },
        actions: {
          items: [{
            href: "/alien-description",
            text: "Change",
            visuallyHiddenText: "describe what the alien looked like"
          }]
        }
      },
      {
        key: { text: "What is your full name?" },
        value: { text: data["your-name"] if data["your-name"] else "Not answered" },
        actions: {
          items: [{
            href: "/your-name",
            text: "Change",
            visuallyHiddenText: "what is your full name?"
          }]
        }
      }
      ]
    }) }}

    <form method="post" novalidate>
      {{ govukButton({ text: "Confirm and send" }) }}
    </form>

  </div>
</div>
{% endblock %}
